<html>
    <head>

        <title>{% block title %}{% endblock %}</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
    </head>
    <body>
         <header>
            <p style="color: aliceblue">Spesina Food and Agro Industries Pvt. Ltd.</p>
            <nav>
                 <ul class="nav__links">
                    <li><a href="{{url_for('bottles_filled')}}">Bottles Empty</a></li>
                    <li><a href="{{url_for('bottles_filled')}}">Bottles Filled</a></li>
                    
                </ul>
            </nav>
            <a class="cta" href="{{url_for('logout')}}"><button>Logout</button></a>
        </header>
        <div class="bg_color">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>