{% extends "Base.html" %}
{% block title %}Spesina IMS{% endblock %}
{% block content %}
   
        <h2 style="color: white"><center>Bottles Empty</center></h2>
<br>
<br>
<br>
<br>
<br>
<br>
        <a href="{{ url_for('bottlesfilledproduction') }}"><center><button type="button" class="button">Production</button></center></a>
<br>
<br>
        <a href="{{ url_for('bottlesfilleddespatch') }}"><center><button type="button" class="button">Despacth</button></center></a>
<br>
<br>
        <a href="{{ url_for('bottlesfilledquery') }}"><center><button type="button" class="button">Query</button></center></a>
        
{% endblock %}
