{% extends "Base.html" %}
{% block title %}Spesina IMS{% endblock %}
{% block content %}
   
        
        <h2 style="color: #009688;text-transform: uppercase"><center>Bottles Filled</center></h2>
<br>
<br>
<br>
<br>
<br>
<br>
        <a href="{{ url_for('bottlesfilledproduction') }}"><center><button type="button" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Production</button></center></a>
<br>
<br>
        <a href="{{ url_for('bottlesfilleddespatch') }}"><center><button type="button" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Despatch</button></center></a>
<br>
<br>
        <a href="{{ url_for('bottlesfilledquery') }}"><center><button type="button" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Query</button></center></a>
        
{% endblock %}
