{% extends "Base.html" %}
{% block title %}Spesina IMS{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>

<h2 style="color: white"><center>Despatch</center></h2>
<form action="#" method="post">
<br>
<br>
  
<div>
        <center><label for="product" style="color: aliceblue">Product:</label></center>
        <center><select name="product" id="product" required style="color: aliceblue">
        <option value="ROJ(220ml)" style="color: aliceblue">ROJ(220ml)</option>
        <option value="ROJ(500ml)" style="color: aliceblue">ROJ(500ml)</option>
        <option value="ROJ(1L)" style="color: aliceblue">ROJ(1L)</option>
        <option value="ROJ(2L)" style="color: aliceblue">ROJ(2L)</option>
        <option value="ROJ(5L)" style="color: aliceblue">ROJ(5L)</option>
        </select></center>
</div>
<br>
<br>
    
<div>
    <center><label for="units" style="color: aliceblue">Number of Units:</label></center>
    <center><input type="number" id="units" width="30" style="color: #fff" name="units" placeholder="Number of Units" required></center>
</div>
<br>
<br> 
    
<div>
    <center><label for="price" style="color: aliceblue">Price:</label></center>
    <center><input type="number" id="price" width="30" style="color: aliceblue" name="price" placeholder="Price" required></center>
</div><br>
    
    <center><button type="reset">Reset</button>
    <button type="submit">Submit</button></center>
</form>
{% endblock %}