{% extends "Base.html" %}
{% block title %}Spesina IMS{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>

<h2 style="color: #009688;text-transform: uppercase"><center>Filled Bottles Production</center></h2>
<form action="#" method="post">
<br>
<br>
  
<div>
    <center><label for="product" style="color: #009688;font-size: 20px; text-transform: uppercase">Product:</label></center>
    <center><select name="product" id="product" required style="color: #009688;font-size: 16px;width: 200px">
        <option value="ROJ(220ml)" style="color: #009688">ROJ(220ml)</option>
        <option value="ROJ(500ml)" style="color: #009688">ROJ(500ml)</option>
        <option value="ROJ(1L)" style="color: #009688">ROJ(1L)</option>
        <option value="ROJ(2L)" style="color: #009688">ROJ(2L)</option>
        <option value="ROJ(5L)" style="color: #009688">ROJ(5L)</option>
        </select></center>
</div>
<br>
<br>
    
<div>
    <center><label for="units" style="color: #009688;font-size: 20px; text-transform: uppercase">Number of Units:</label></center>
    <center><input type="number" id="units" style="color: #009688;font-size: 16px" width="30" name="units" placeholder="Number of Units" required></center>
</div>
<br>
<br> 
    
<div>
    <center><label for="price" style="color: #009688;font-size: 20px; text-transform: uppercase">Price:</label></center>
    <center><input type="number" id="price" style="color: #009688;font-size: 16px" width="30" name="price" placeholder="Price"></center>
</div><br>
    
    <center><button type="reset" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Reset</button>
    <button type="submit" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Submit</button></center>
</form>
{% endblock %}
