{% extends "Base.html" %}
{% block title %}Display page{% endblock %}

{% block content %}
<br>
<br>
<h2 style="color: #009688;text-transform: uppercase"><center>Filled Bottles Query</center></h2>
<br>
<br>
<br>
<br>
<form action="#" method="post">
    
<div>
    <center><label for="product" style="color: #009688;font-size: 20px; text-transform: uppercase"><h3>Select a Month:</h3></label></center>
    <br>
    <br>
    <center><select name="month" style="color: #009688;font-size: 20px" id="month" required>
        <option value="January" style="color: #009688">January</option>
        <option value="February" style="color: #009688">February</option>
        <option value="March" style="color: #009688">March</option>
        <option value="April" style="color: #009688">April</option>
        <option value="May" style="color: #009688">May</option>
        <option value="June" style="color: #009688">June</option>
        <option value="July" style="color: #009688">July</option>
        <option value="August" style="color: #009688">August</option>
        <option value="September" style="color: #009688">September</option>
        <option value="October" style="color: #009688">October</option>
        <option value="November" style="color: #009688">November</option>
        <option value="December" style="color: #009688">December</option>
        </select></center>
    <br>
    <br>
    <center><button type="submit" class="button" style="font-size: 20px; text-transform: uppercase; color: #fff; padding: 9px 12px;background-color: #009688;border: none;border-radius: 5px;cursor: pointer;transition: all 0.3s ease 0s;">Submit</button></center>
</div><br>
    
</form>
{% endblock %}