<html>
    <head>
        <link rel="stylesheet" type="text/css" href="my_style.css">
    </head>
        <h2 style="color: darkblue"><center>Welcome to</center></h2><br>
        <h2 style="color: darkblue"><center>Spesina Food and Agro Industries Pvt. Ltd.</center></h2><hr><br>

        <div class="middle">
            <center><button type="button" class="btn btn1">Production</button></center>
            <center><button type="button" class="btn btn2">Despatch</button></center>
            <center><button type="button" class="btn btn3">Query</button></center>
            <center><button type="button" class="btn btn4">Log Out</button></center>
        </div>
        
</html>

