{% extends "Base.html" %}
{% block title %}Display page{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<form action="#" method="post">
    
<div>
    <center><label for="product" style="color: aliceblue"><h3>Select a Month:</h3></label></center>
    <br>
    <br>
    <center><select name="month" id="month" required style="color: aliceblue">
        <option value="January" style="color: aliceblue">January</option>
        <option value="February" style="color: aliceblue">February</option>
        <option value="March" style="color: aliceblue">March</option>
        <option value="April" style="color: aliceblue">April</option>
        <option value="May" style="color: aliceblue">May</option>
        <option value="June" style="color: aliceblue">June</option>
        <option value="July" style="color: aliceblue">July</option>
        <option value="August" style="color: aliceblue">August</option>
        <option value="September" style="color: aliceblue">September</option>
        <option value="October" style="color: aliceblue">October</option>
        <option value="November" style="color: aliceblue">November</option>
        <option value="December" style="color: aliceblue">December</option>
        </select></center>
    <br>
    <br>
    <center><button type="submit" class="btn">Submit</button></center>
</div><br>
    
</form>
{% endblock %}